html,
body {
	height: 100%;
	background-color: #333 !important;
}

body {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.dropdown-menu-right {
	right: 0 !important;
	left: auto !important;
}
